body {
  margin: 0;
}
header{
  background-image: url("imagebanner.jpeg");
height: 80px;
background-size: cover;
background-position: center;
padding: 20px 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  margin: 0;
  padding: 10px 20px;
}

 .logo{ 
  font-size: 20px;
   color: white; 
}
.nav {
  display: flex;
  gap: 20px;
}
.nav p{
  color: white;
 font-size:large;
}


main {
  width: 400vh;
}


